body{
  padding: 50px;
  background-color: black;
  color: white;
}
button{
  cursor: pointer;
  font-size: 30px;
  background-color: rgb(181, 186, 213);
  padding: 10px;
  border-radius: 10px;
  &:hover{
    background-color: rgb(107, 121, 203);
  }
}
.block-cars{
  input[type=text]{
    font-size: 30px;
    width: 20%;
    padding: 10px;
  }
  input[type=color]{
    width: 3%;
    height: 50px;
    margin: 10px;
  }
}
.for-input{
  display: flex;
  align-items: center;
}
.block-control{
  margin-bottom: 100px;
}


//GARAGE

.garage{
  margin-top: 80px;
}
.header_text{
  font-size: 50px;
  
}
.page_text{
  margin: 0;
  font-size: 40px;
}
.car-card{
  margin-bottom: 100px;
}
.block-page{
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.car-control{
  display: flex;
  column-gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}
.car-name{
  font-size: 30px;
}
.car{
  display: flex;
  column-gap: 10px;
}

.block-road{
  position: relative;
}
.road{
  margin: 0;
}
.flag{
  position: absolute;
  top: -55px;
  right: 200px;
  background-image: url(../img/flag.svg);
  background-size: contain;
  width: 50px;
  height: 50px;
}
.fa-car-side{
  color: #FFF;
  font-size: 100px;
}

.list{
  display: flex;
  column-gap: 80px;
}
